header {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}


aside {
  background-color: #f4f4f4;
  width: 200px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 60px;
}


main {
  margin-left: 200px;
  padding: 20px;
}

